.page-container{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 84px 0;
  background-color: white;
  align-items: stretch;
}

.alert{
 margin: 2px;
}

.card-course-container{
  display: flex;
  width: 98%;
  .video-container{
    width: 75%;
    padding: 0 8px 8px 8px;
  }
  .information-container{
    width: 25%;
    border-left: thin solid rgba(209,215,221,255);
  }
}

.list-content-title{
  display: flex;
  flex-direction: column;
  padding: 12px;
  p{
    font-weight: 700;
    font-size: 18px;
  }
  border-bottom: thin solid rgba(209,215,221,255);
}

@media screen and (max-width: 768px){
  .card-course-container{
    flex-direction: column;
    .video-container{
      width: 100%;
    }
    .information-container{
      width: 100%;
      border-left: none;
    }
  }
  .list-content-title{
    margin-top: 24px;
  }
}