.list-content-locked{
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  p{
    display: flex;
    align-items: center;
    gap: 3%;
  }
  .title{
    display: flex;
    justify-content: space-between;
    color: rgb(204, 204, 204);
  }
  .duration{
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 14px;
    gap: 2%;
    color: rgb(164, 164, 166);
  }
}

.list-content{
  @extend .list-content-locked;
  &:hover{
    background-color: rgba(209,215,221,0.3);
    cursor: pointer;
  }
  .title{
    color: black;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    padding: 1%;
    color: black;
  }
}