.card {
  display: flex;
  flex-direction: column;
  height: 495px;
  width: 360px;
  margin-bottom: 18px;
  .image{
    width: 100%;
    height: 158px;
  }
  .video{
    width: 100%;
    height: 158px;
    display: none;
  }
  &:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
    background-color: white;
    .image{
      display: none;
    }
    .video{
      display: block;
    }
  }
}

.information{
  padding: 16px;
  .title{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    min-height: 36px;
  }
  .tags{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    margin: 6px;
  }
  .description{
    word-break: break-word;
    margin: 12px;
  }
  .skills{
    font-size: 14px;
    margin: 12px;
    font-weight: 200;
  }
}

.chip-mobile{
  display: none;
}

.rating-mobile{
  display: none;
}

@media screen and (max-width: 785px){
  .card {
    width: 240px;
    height: 280px;
    .image {
      width: 240px;
      height: 100px;
      margin-bottom: 8px;
    }
  }
  .information{
    padding: 12px;
    .title{
      font-size: 16px;
    }
    .description{
      font-size: 11px;
    }
    .skills{
      display: none;
    }
  }
  .chip-mobile{
    display: flex;
  }

  .rating-mobile{
    display: flex;
  }

  .chip-desktop{
    display: none;
  }

  .rating-desktop{
    display: none;
  }
}